body {
  font-size: 32px;
  font-family: 'Rubik', sans-serif;
  background-image: url(../img/science.png);
}

.container2 p {
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1.2rem;
    text-align: left;
}

.container2 {
  margin-left: auto;
  margin-right: auto;
  width: 60rem;
  background-color: rgba(255, 238, 238, 0.85);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.container2 h1 {
    padding-top: 2rem;
    text-align: center;
}

.container2 h2 {
  margin-left: 1rem;
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.container2 ul {
  margin-left: 2em;
  margin-right: 2em;
  font-size: 1.2rem;
}

.container2 ol {
  margin-left: 2em;
  font-size: 1.2rem;
}

.container2 li {
  padding-top: 0.30rem;
  padding-bottom: 0.30rem;
}

.center {
  text-align: center;
}

.container1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
  background-color: rgba(238, 255, 255, 0.8);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.container1 h1 {
  padding-top: 1rem;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0;
}

.container1 h2 {
  text-align: center;
  font-size: 3rem;
  font-style: italic;
}

.container1 nav {
  margin: 0;
  padding: 0;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-style: italic;
}

.container1 ul {
  padding: 0;
  font-size: 2rem;
  list-style-type: none;
  list-style-position: inside;
}

